* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  background-color: #e3e3e3;
  font-size: 16px;
}
header {
  padding: 10px;
  background-color: #ffffff;
}
footer {
  padding: 10px;
  background-color: #e3e3e3;
  display: flex; 
  font-size: 1.2rem;
  justify-content: center;
  
}