.user-item {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.6rem;
    margin: 1rem;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 0.5rem;

    .info-wrp {
        display: flex;
        flex-direction: row;
    }

    .btn-wrp {
        display: flex;
        flex-direction: row;

        .edit-btn,
        .delete-btn {
            height: auto;
            border: 1px solid black;
            border-radius: 0.2rem;
            font-size: 1.3rem;
            width: 5rem;
            padding: 0.5rem 0.2rem;
            margin: 0 0.5rem;
        }
    }
}