.user-list-wrp {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    background-color: #ffffff;
    border: 2px solid black;
    margin: 1rem auto;
    border-radius: 0.5rem;
    flex-grow: 1;
    flex-direction: column;
    width: 70%;
    max-height: 700px;
    max-width: 900px;

    .add-btn {
        height: auto;
        border: 1px solid black;
        border-radius: 0.2rem;
        font-size: 1.3rem;
        
        width: 5rem;
        padding: 0.5rem 0.2rem;
        margin: 0 0.5rem;
    }
}