.login-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // width: 100vw;
    // height: 100vh;
    flex-grow: 1;
    z-index: 5;

    .login {
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.2rem;
        font-size: 1rem;
        width: 300px;
        height: 250px;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 0.4rem 0.2rem;

            .login-input {
                margin-top: 0.4rem;
                padding: 0.4rem 0.2rem;
            }

        }
        .btn-group{
            display: flex;
            margin-top: 1rem;
            align-items: center;
            justify-content: center;
            .submit-btn {
                width: 5rem;
                padding: 0.5rem 0.7rem;
                height: auto;
                border: 1px solid black;
                border-radius: 0.2rem;
                background-color: #55dafc;
            }

        }
    }
}