.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0.2rem;

}

input {
    font-size: 1.2rem;
    margin-top: 0.4rem 0;
    padding: 0.4rem 0.2rem;
}

.email-input .error {
    border: 1px red solid;
}

.email-input .error-message {
    color: red;
    display: block;
}