.edit-user-background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    z-index: 5;

    .edit-user-modal {
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1.2rem;
        width: 350px;
        height: 500px;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 0.4rem 0.2rem;

            input {
                margin-top: 0.4rem 0;
                font-size: 1.2rem;
                padding: 0.4rem 0.2rem;
            }

        }

        .btn-group {
            display: flex;
            margin-top: 1rem;
            align-items: center;
            justify-content: space-around;

            .cancel-btn, .submit-btn {
                padding: 0.5rem 0.7rem;
                font-size: 1.2rem;
                height: auto;
                border: 1px solid black;
                border-radius: 0.2rem;
                background-color: #55dafc;
            }

        }
    }
}